<section id="newslist">
<% @items.each do |item| %>
  <%= erb :partial_news, :locals => { :news => item } %>
<% end %>
<% if params[:start].to_i + LatestNewsPerPage < @count %>
<a href="/latest/<%= (params[:start].to_i + LatestNewsPerPage) %>" class="more">[more]</a>
<% end %>
</section>
