<form name="f">
  <input type="hidden" name="news_id" value="<%= news_id %>">
  <input type="hidden" name="comment_id" value="<%= comment_id || -1 %>">
  <input type="hidden" name="parent_id" value="<%= parent_id || -1 %>">
  <textarea name="comment" cols="60" rows="10"><%= CGI.escapeHTML body %></textarea><br>
  <input type="button" name="post_comment" value="Edit">
</form>
<div id="errormsg"></div>